*
{
color:white;
}
body
{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(11,230,95,1) 100%);

text-align: center;
}
table
{
margin-top: 300px;
margin-left: auto;
margin-right: auto;
background-color: rgba(175, 170, 170, 0.767);
border-radius: 5%;
 
}

#output
{
    outline: none;
    width: 220px;
    position: relative;
    top: 150px;
    border-radius: 7%;
    border-width: 0px;
    background-color: white;
    height:50px ;
}
#first,#second
{
    opacity: 1;
    outline: none;
    width: 220px;
    border-radius: 7%;
    border-width: 0px;
    background-color: #aeb2b3;
    height:50px ;
    margin-left: auto;
    margin-right: auto;
}
button
{
    opacity: 1;
    position: relative;
    top: -20px;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
   
}
#first , #second ,#output
{
 text-align: center;
}


